<br/>

<h2 class="mx-auto" style="width: 100px;">log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="mx-auto field form-group" style="width: 200px;">
    <% f.label :email %><br />
    <%= f.email_field :email, class:"form-control", placeholder:"e-mail", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="mx-auto field form-group" style="width: 200px;">
    <% f.label :password %><br />
    <%= f.password_field :password, class:"form-control", placeholder:"password", autocomplete: "current-password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="mx-auto field form-check" style="width: 200px;">
      <%= f.check_box :remember_me, class:"form-check-input" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <br/>

  <div class="mx-auto actions" style="width: 200px;">
    <%= f.submit "Log in", class:"btn btn-purple" %><%= render "devise/shared/links" %>
  </div>


  <br/>
<% end %> 

